.contactbackground {
  background-color: #FFF;
}
.example-full-width {
  width: 100%;
}
.example-card {
  max-width: 400px;
  margin: 30px;
  background-color: #ffffee;
}
.contact-icon {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #00BCD4;
  text-align: center;
}
.contact-icon > div > div > p {
  color: black;
}
.contact-divider {
  background-color: #00BCD4;
  height: 2px;
  width: 25%;
}
//Animaciones de entrada
// @-webkit-keyframes fadeInLeft {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }
//   to {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }
// @keyframes fadeInLeft {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }
//   to {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }
// .fadeInLeft {
//   -webkit-animation-name: fadeInLeft;
//   animation-name: fadeInLeft;
// }