.contactbackground {
  background-color: #FFF;
}
.example-full-width {
  width: 100%;
}
.example-card {
  max-width: 400px;
  margin: 30px;
  background-color: #ffffee;
}
.contact-icon {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #00BCD4;
  text-align: center;
}
.contact-icon > div > div > p {
  color: black;

}
