@media only screen and (max-width: 1920px) {
  .contain-image {
    // background: url('/assets/write.jpg') no-repeat center top;
    // height: 950px;
    height: auto;
    padding: 0px;
  }
}
@media only screen and (max-width: 1366px) {
  .contain-image {
    // background: url('/assets/write.jpg') no-repeat center top;
    // height: 740px;
    height: auto;
    padding: 0px;
  }
}

.container-title {
//   padding: 20px;
//   background-color: rgba(63, 191, 189, 0.40);
  text-align: center;
  color: #FFF;
}
.container-cards {
  padding: 60px;
}
.size-card {
  max-width: 500px;
}
.title {
  font-size: 50px;
  color: #FFF;
  // font-weight: bold;
}
.mat-card {
  position: unset;
  text-align: center;
}
.mat-card:hover 
{
  /*transform: scale(1.05);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888; */
  transform: scale(1.02);
  border: 1px solid;
  box-shadow: aqua;
}
.mat-card-title {
  font-size: 28px;
}
.text-center {
  font-size: 18px;
}
// responsive
.container-title-responsive {
  text-align: center;
  color: #000000;
}
.title-responsive {
  font-size: 40px;
  color: #000000;
  padding: 15px;
}
a {
  text-decoration: none;
  color: #FFF,
}
.cards {
  place-content: center;
  align-items: normal !important;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 35%;
}
.font-size-card {
  font-size: 15px;
}