<div class="contain-image" fxHide.sm fxHide.xs id="Servicios">
  <br><br>
  <div class="container-title">
    <div fxLayout="row" fxLayoutAlign="center center" fxHide.sm fxHide.xs>
      <span class="title">Nuestros Servicios</span>
    </div>
  </div>
  <div class="container" >
    <div fxLayout="row">
      <div fxFlex="15" fxLayoutAlign="center center" fxHide.sm fxHide.xs>
      </div>
      <div fxFlex="35"  fxLayoutAlign="center center"  fxHide.sm fxHide.xs>
        <mat-card class="size-card">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title><b>Selección de Personal</b></mat-card-title>
            </mat-card-header>
          <img mat-card-image src="/assets/sel-personal.jpg" height="350px">
          <mat-card-content>
            <p class="text-center">
              Al definir el perfil laboral desempeñaremos, a través de la escritura y la entrevista,
              las evaluaciones de personal para identificar aptitudes e intereses y así lograr la productividad
              del funcionario. También excelente herramienta para la reorganización de una empresa,
              al ser consciente de los aspectos positivos y negativos de los integrantes.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Definer Perfil Laboral</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="35" fxLayoutAlign="center center" fxHide.sm fxHide.xs>
        <mat-card class="size-card">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title><b>Orientación Vocacional</b></mat-card-title>
              </mat-card-header>
          <img mat-card-image src="/assets/ori-vocacional.jpg" height="350px">
          <mat-card-content>
            <p class="text-center">
              Realizaremos un conjunto de prácticas destinadas al esclarecimiento de su vocación.
              Ideal para adolescentes que se encuentran próximos a finalizar sus estudios secundarios
              pero también a jóvenes en general y hasta adultos insertados laboralmente que evalúan la
              posibilidad de una nueva formación o capacitación.
            </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Solicitar Entrevista Vocacional</button>
            </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="15" fxLayoutAlign="center center" fxHide.sm fxHide.xs></div>
    </div>
  </div>
</div>

<!-- Service Responsive -->
<div class="">
  <div fxLayout="column" fxLayoutAlign=" stretch"  fxHide fxShow.xs>
      <div class="container-title-responsive">
          <div fxLayout="row" fxLayoutAlign="center center" >
            <span class="title-responsive">Nuestros Servicios</span>
          </div>
      </div>
      <div>
          <mat-card class="size-card">
            <img mat-card-image src="/assets/sel-personal.jpg" height="350px">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title><b>Selección de Personal</b></mat-card-title>
              </mat-card-header>
            <mat-card-content>
              <p class="text-center">
                Al definir el perfil laboral desempeñaremos, a través de la escritura y la entrevista,
                las evaluaciones de personal para identificar aptitudes e intereses y así lograr la productividad
                del funcionario. También excelente herramienta para la reorganización de una empresa,
                al ser consciente de los aspectos positivos y negativos de los integrantes.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Definer Perfil Laboral</button>
            </mat-card-actions>
          </mat-card>
      </div>
      <div >
          <mat-card class="size-card">
            <img mat-card-image src="/assets/ori-vocacional.jpg" height="350px">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title><b>Orientación Vocacional</b></mat-card-title>
              </mat-card-header>
            <mat-card-content>
              <p class="text-center">
                Realizaremos un conjunto de prácticas destinadas al esclarecimiento de su vocación.
                Ideal para adolescentes que se encuentran próximos a finalizar sus estudios secundarios
                pero también a jóvenes en general y hasta adultos insertados laboralmente que evalúan la
                posibilidad de una nueva formación o capacitación.
              </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary">Solicitar Entrevista Vocacional</button>
              </mat-card-actions>
          </mat-card>
      </div>
    </div>
  </div>
<!-- ---------------End Responsive----------------- -->