#content {
  //background-color: #E5E1DD;
  background-color: #FFF;
  height: auto;
  padding-top: 80px;
}
.section-title {
  font-size: 40px;
  color: black;
}
.padding-content {
  padding: 50px 50px;
}
li {
  padding: 10px;
}
.text-size-20 {
  font-size: 20px;
}
.subrayado {
  height: 3px;
  background-color: #00BCD4;
  border-style: unset;
  width: 40%;
  
}
.info {
  margin: 0px 30px 30px 30px;
}
p {
  margin: 2px;
}