<div id="content">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="margin-top-20">
      <span class="section-title">Sobre Nosotros</span>
    </div>
  </div>
  <div class="padding-content" fxLayout="row">
    <div fxLayout="column" fxFlex="30">
      <span class="normal-text text-center">Somos un equipo apasionado por la grafología y la información que nos brinda.
        En su momento nos ayudó a crecer tanto en lo personal como en lo profesional.
        Hoy mediante su aplicación, nos sentimos capacitados y convencidos que juntos
        lograremos tu mejor versión</span>
      <br><br>
      <mat-divider></mat-divider>
      <br><br>
      <span class="normal-text text-center">Actualmente contamos con el conocimiento de todas las especialidades que
        podemos abarcar. En su práctica hemos mejorado técnica y explicación para su mejor interpretación.
        Así, podrás utilizarla en cualquiera de los ámbitos que lo necesites asegurando tu máximo rendimiento
        o el de la persona que vayas a contratar</span>
    </div>
    <div fxFlex="30">

    </div>
    <div fxLayout="column" fxFlex="30">
      <span class="normal-text">Nos diferenciamos por...</span>
      <ul>
        <li>Modalidad online.</li>
        <li>Resultados completos y reales por su aplicación en la escritura.</li>
        <li>Creamos una metodología que relaciona la grafía con pruebas de confrontación
          para así obtener conclusiones profundas y acertadas.</li>
        <li>Constante comunicación con el profesional.</li>
        <li>Aplicado a más de 10 espacios donde la grafología puede estar presente en tu vida.</li>
        <li>Al definir el perfil laboral desempeñaremos, a través de la escritura y la entrevista,
          las evaluaciones de personal para identificar aptitudes e intereses y así lograr la productividad
          del funcionario. También excelente herramienta para la reorganización de una empresa, al ser consciente
          de los aspectos positivos y negativos de los integrantes</li>
        <li>Realizaremos un conjunto de prácticas destinadas al esclarecimiento de su vocación.
          Ideal para adolescentes que se encuentran próximos a finalizar sus estudios secundarios
          pero también a jóvenes en general y hasta adultos insertados laboralmente que evalúan la posibilidad
          de una nueva formación o capacitación.</li>
      </ul>
    </div>
  </div>
</div>
