.content {
  //background-color: #E5E1DD;
  background-color: #FFF;
  height: auto;
  padding-top: 80px;
}
.section-title {
  font-size: 40px;
  color: black;
}
.padding-content {
  padding: 50px 50px;
}
li {
  padding: 10px;
}
.text-size-20 {
  font-size: 20px;
}

.info {
  margin: 0px 30px 30px 30px;
}
p {
  margin: 2px;
}
// animacion del texto 
.simple-animation {
	-webkit-animation: tracking-in-contract 2s  backwards;
	        animation: tracking-in-contract 2s  backwards;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
// seccion nos diferenciamos
.diferenciamos {
  background-color: #EBEFF0 ;
  padding-top: 50px;
}

// listas
// #lista2 {
//   counter-reset: li; 
//   list-style: none; 
//   *list-style: decimal; 
//   font: 15px 'trebuchet MS', 'lucida sans';
//   padding: 0;
//   margin-bottom: 4em;
//   text-shadow: 0 1px 0 rgba(255,255,255,.5);
// }

// #lista2 ol {
//   margin: 0 0 0 2em; 
// }

// #lista2 li{
//   position: relative;
//   display: block;
//   padding: .4em .4em .4em 2em;
//   *padding: .4em;
//   margin: .5em 0;
//   background: #ddd;
//   color: #444;
//   text-decoration: none;
//   border-radius: .3em;
//   transition: all .3s ease-out;   
// }

// #lista2 li:hover{
//   background: #eee;
// }

// #lista2 li:hover:before{
//   transform: rotate(360deg);  
// }

// #lista2 li:before{
//   content: counter(li);
//   counter-increment: li;
//   position: absolute; 
//   left: -1.3em;
//   top: 50%;
//   margin-top: -1.3em;
//   background: #87ceeb;
//   height: 2em;
//   width: 2em;
//   line-height: 2em;
//   border: .3em solid #fff;
//   text-align: center;
//   font-weight: bold;
//   border-radius: 2em;
//   transition: all .3s ease-out;
// }
// listas
#lista2 {
  counter-reset: li; 
  list-style: none; 
  *list-style: decimal; 
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#lista2 ol {
  margin: 0 0 0 2em; 
}
#lista2 button:hover{
  background: #eee;
}
#lista2 button:hover:before{
  transform: rotate(360deg);  
}
#lista2 button:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
span {
  font-size: 18px;
}
.line {
  height: 10px; 
  width: 50px; 
  background-color: gray;
}
