<div id="content">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="margin-top-20">
      <img src="/assets/pluma.png"><br>
      <span class="section-title">Sobre Nosotros</span>
      <hr class="subrayado">
    </div>
  </div>
  <div class="padding-content" fxLayout="row" fxLayoutAlign="center ">
    <div fxLayout="column" fxFlex="60" class="info">
      <span class="normal-text text-center">Somos un equipo apasionado por la grafología y la información que nos brinda.
        En su momento nos ayudó a crecer tanto en lo personal como en lo profesional.
        Hoy mediante su aplicación, nos sentimos capacitados y convencidos que juntos
        lograremos tu mejor versión</span>
      <span class="normal-text text-center">Actualmente contamos con el conocimiento de todas las especialidades que
        podemos abarcar. En su práctica hemos mejorado técnica y explicación para su mejor interpretación.
        Así, podrás utilizarla en cualquiera de los ámbitos que lo necesites asegurando tu máximo rendimiento
        o el de la persona que vayas a contratar</span>
    
        
      <br>
      <img src="/assets/grafo.gif">
      <br>
      
    
      <span class="normal-text text-size-20" fxLayoutAlign="center "><b>Nos diferenciamos por</b></span>
      
        <p><img src="assets/check.png" width="15px" height="15px"> Modalidad online.</p>
        <p><img src="assets/check.png" width="15px" height="15px"> Resultados completos y reales por su aplicación en la escritura.</p>
        <p><img src="assets/check.png" width="15px" height="15px"> Creamos una metodología que relaciona la grafía con pruebas de confrontación
          para así obtener conclusiones profundas y acertadas.</p>
        <p><img src="assets/check.png" width="15px" height="15px"> Constante comunicación con el profesional.</p>
        <p><img src="assets/check.png" width="15px" height="15px"> Aplicado a más de 10 espacios donde la grafología puede estar presente en tu vida.</p>
        <p><img src="assets/check.png" width="15px" height="15px"> Al definir el perfil laboral desempeñaremos, a través de la escritura y la entrevista,
          las evaluaciones de personal para identificar aptitudes e intereses y así lograr la productividad
          del funcionario. También excelente herramienta para la reorganización de una empresa, al ser consciente
          de los aspectos positivos y negativos de los integrantes.</p>
        <p><img src="assets/check.png" width="15px" height="15px"> Realizaremos un conjunto de prácticas destinadas al esclarecimiento de su vocación.
          Ideal para adolescentes que se encuentran próximos a finalizar sus estudios secundarios
          pero también a jóvenes en general y hasta adultos insertados laboralmente que evalúan la posibilidad
          de una nueva formación o capacitación.</p>
      
    </div>
  </div>
</div>
