<div id="Sobre Nosotros" class="content">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="margin-top-20">
      <img src="/assets/pluma.png"><br>
      <span class="section-title">Sobre Nosotros</span>
      <hr class="subrayado">
    </div>
  </div>
  <div class="padding-content" fxLayout="row" fxLayoutAlign="center" fxHide.sm fxHide.xs>
    <div fxLayout="column" fxFlex="50" class="info">
      <span class="normal-text text-center">Somos un equipo apasionado por la grafología y la información que nos brinda.<br>
        En su momento nos ayudó a crecer tanto en lo personal como en lo profesional.<br>
        Hoy mediante su aplicación, nos sentimos capacitados y convencidos que juntos
        lograremos tu mejor versión</span>
      <span class="normal-text text-center">Actualmente contamos con el conocimiento de todas las especialidades que
        podemos abarcar.<br> En su práctica hemos mejorado técnica y explicación para su mejor interpretación.<br>
        Así, podrás utilizarla en cualquiera de los ámbitos que lo necesites asegurando tu máximo rendimiento
        o el de la persona que vayas a contratar</span>
      <br>
      <!-- <img src="/assets/grafo.gif"> -->
    </div>
  </div>
  <!-- About us responsive -->
  <div fxLayout="column" fxLayoutAlign=" stretch"  fxHide fxShow.xs>
    <div fxLayout="column" class="info">
      <span class="normal-text text-center">Somos un equipo apasionado por la grafología y la información que nos brinda.<br>
        En su momento nos ayudó a crecer tanto en lo personal como en lo profesional.<br>
        Hoy mediante su aplicación, nos sentimos capacitados y convencidos que juntos
        lograremos tu mejor versión</span>
      <span class="normal-text text-center">Actualmente contamos con el conocimiento de todas las especialidades que
        podemos abarcar.<br> En su práctica hemos mejorado técnica y explicación para su mejor interpretación.<br>
        Así, podrás utilizarla en cualquiera de los ámbitos que lo necesites asegurando tu máximo rendimiento
        o el de la persona que vayas a contratar</span>
      <br>
      <!-- <img src="/assets/grafo.gif"> -->
    </div>
  </div>
  <!------------------->
  <div fxLayout="row" fxLayoutAlign="center center" class="diferenciamos" fxHide.sm fxHide.xs>
        <div fxLayout="column" fxFlex="50" class="info " fxLayoutAlign="center center">
          <span class="section-title ">Nos diferenciamos por<hr class="subrayado"></span>
          <div id="lista2" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-mini-fab matTooltip="Modalidad online." matTooltipClass="tool-tip"></button><div class="line"></div>
            <button mat-mini-fab matTooltipClass="tool-tip" matTooltip="Resultados completos y reales por su aplicación en la escritura."></button><div class="line"></div>
            <button mat-mini-fab matTooltipClass="tool-tip"matTooltip="Creamos una metodología que relaciona la grafía con pruebas de confrontación
            para así obtener conclusiones profundas y acertadas."></button><div class="line"></div>
            <button mat-mini-fab matTooltipClass="tool-tip" matTooltip="Constante comunicación con el profesional."></button><div class="line"></div>
            <button mat-mini-fab matTooltipClass="tool-tip" matTooltip="Aplicado a más de 10 espacios donde la grafología puede estar presente en tu vida."></button><div class="line"></div>
            <button mat-mini-fab matTooltipClass="tool-tip" matTooltip="Al definir el perfil laboral desempeñaremos, a través de la escritura y la entrevista,
            las evaluaciones de personal para identificar aptitudes e intereses y así lograr la productividad
            del funcionario. También excelente herramienta para la reorganización de una empresa, al ser consciente
            de los aspectos positivos y negativos de los integrantes."></button><div class="line"></div>
            <button mat-mini-fab matTooltipClass="tool-tip" matTooltip="Realizaremos un conjunto de prácticas destinadas al esclarecimiento de su vocación.
            Ideal para adolescentes que se encuentran próximos a finalizar sus estudios secundarios
            pero también a jóvenes en general y hasta adultos insertados laboralmente que evalúan la posibilidad
            de una nueva formación o capacitación."></button>
          </div>
        </div>
  </div>
</div>
