.footer2{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(53,53,53,1);
    color: #FFF;
}

.footer1 {
    // background:#00BCD4;
    color:#fff;
    padding: 30px;
  }
.social {
    display: inline-block;
}
.social-responsive {
    margin-left: auto;
    margin-right: auto;
}
.footer1-responsive {
    // background:#00BCD4;
    color:#fff;
    padding: 30px;
  }