
<div fxLayout="row" fxAlign="center" class="footer1" fxHide.sm fxHide.xs>
  <div fxLayout="column" fxFlex="35" fxLayoutAlign="center center" ></div>
  <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center" class="social">
      <img src="assets/facebook-logo-button.png" >
  </div>
  <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center" class="social">
      <img src="assets/instagram-social-network-logo-of-photo-camera.png" >
      
  </div>
  <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center" class="social">
      <img src="assets/twitter-logo-silhouette.png">
  </div>
  <div fxLayout="column" fxFlex="35" fxLayoutAlign="center center" ></div>
</div>

<!--Footer Responsive -->
<div fxLayout="row" xLayoutAlign="center center" fxHide fxShow.xs class="footer1-responsive">
    <div class="social-responsive">
        <img src="assets/facebook-logo-button.png" >
    </div>
    <div class="social-responsive">
        <img src="assets/instagram-social-network-logo-of-photo-camera.png" >
    </div>
    <div class="social-responsive">
        <img src="assets/twitter-logo-silhouette.png">
    </div>
</div>
<!-- ------------------------ -->
<div fxLayout="row" fxAlign="center" class="footer2">
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
    <p>© Todos los derechos reservados por .draim()</p>
  </div>
</div>