<div class="padding-content" fxLayout="row">
<div class="contain-image">
    <div class="padding-content-column margin-top-20 start-left" fxLayout="column" fxFlex="35" fxLayoutAlign="center center">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <span class="second-title">Selección de Personal</span><br>
              </div>
              <div class="flip-card-back">
                  <span class="text-center normal-text">Realizamos profesiogramas grafológicos analizando el puesto de trabajo
                      y la relación puesto-candidato. Una vez definido el perfil realizaremos los test y pruebas de
                      escritura para analizar que postulante es el adecuado</span>
                    <br>
                    <button mat-raised-button color="primary" class="botonInicio">Definir Perfil Laboral</button>
              </div>
            </div>
          </div>

          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                    <span class="second-title">Orientación Vocacional</span><br>
                </div>
                <div class="flip-card-back">
                    <span class="text-center normal-text">Desarrollamos entrevistas personales guiando al individuo a resolver exámenes
                        y cuestionarios sencillos orientados a definir sus intereses y aptitudes. Para luego, entregarle
                        como resultados las diferentes opciones de estudio y academia que puede preferir</span>
                      <br>
                      <button mat-raised-button color="primary" class="botonInicio">Entrevista Vocacional</button>
                </div>
              </div>
            </div>
      
    </div>
    <div class="padding-content-column title-animated" fxLayout="column" fxFlex="65" fxLayoutAlign=" center">
      <h1 class="first-title"></h1>
      <svg viewBox="0 0 800 600">
        <symbol id="s-text">
          <text text-anchor="middle"
                x="50%"
                y="35%"
                class="text--line"
                >
                Ikegraf
          </text>
          
        </symbol>
        
        <g class="g-ants">
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
        </g>
      </svg>
    </div>
  </div>
</div>
