@media only screen and (max-width: 1920px) {
  .contain-image {
    background: url('/assets/home.jpg') no-repeat;
    width: 100%;
    height: 950px;
  }
}
@media only screen and (max-width: 1366px) {
  .contain-image {
    background: url('/assets/home.jpg') no-repeat;
    width: 100%;
    height: 740px;
  }
}
.padding-content {
  padding: 0px 0px;
}
.padding-content-column {
  padding: 0px 10px;

}
.first-title {
  font-size: 120px;
  font-weight: bold;
  font-style: italic;
  color: white;
  margin-top: 220px;
  margin-bottom: -40px;
}
.subtitle {
  font-size: 38px;
  font-weight: bold;
  color: #00BCD4;
}
.second-title {
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
}
.normal-text {
  font-size: 1em;
}
span {
  color: white;
}
.mat-raised-button {
  color: black;
}
.start-left{
  background-color: #00BCD4;
  height: cover;
  opacity: 0.75;

}
.botonInicio{
  background-color: #0037DB;
  color: #FFF;
}
// responsive class
@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 20px;
    color: #00BCD4;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .first-title {
    font-size: 70px;
    font-style: italic;
    color: #FFF;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: -30px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .contain-image {
    min-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .button-responsive {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 600px) {
  button {
    z-index: auto;
  }
}
@media only screen and (max-width: 600px) {
  .contain-image {
    background: url('/assets/home.jpg') no-repeat;
    height: 300px;
  }
}