<div class="contain-image">
  <div class="margin-top-40" fxLayout="row" fxLayoutAlign="center">
    <span class="first-title">Ikegraf</span>
  </div>
  <div class="padding-content" fxLayout="row">
    <div class="padding-content-column" fxLayout="column" fxFlex="50" fxLayoutAlign="center center">
      <span class="second-title">Selección de Personal</span><br>
      <span class="text-center normal-text">Realizamos profesiogramas grafológicos analizando el puesto de trabajo
        y la relación puesto-candidato. Una vez definido el perfil realizaremos los test y pruebas de
        escritura para analizar que postulante es el adecuado</span>
      <br>
      <button mat-raised-button color="primary">Definir Perfil Laboral</button>
    </div>
    <div class="padding-content-column" fxLayout="column" fxFlex="50" fxLayoutAlign="center center">
      <span class="second-title">Orientación Vocacional</span><br>
      <span class="text-center normal-text">Desarrollamos entrevistas personales guiando al individuo a resolver exámenes
        y cuestionarios sencillos orientados a definir sus intereses y aptitudes. Para luego, entregarle
        como resultados las diferentes opciones de estudio y academia que puede preferir</span>
      <br>
      <button mat-raised-button color="primary">Entrevista Vocacional</button>
    </div>
  </div>
</div>
