<div class="contact-wsp" fxHide.sm fxHide.xs>
    <a href="https://api.whatsapp.com/send?phone=5493541301665&text=Hola%20buen%20día! Te%20hablo%20desde%20la%20web.">
        <img src="/assets/logo-whatsapp.png" class="whatsapp" height="80px">
    </a>
</div>
<!--Whatsapp icon responsive-->
<div class="contact-wsp"  fxHide fxShow.xs>
    <a href="https://api.whatsapp.com/send?phone=5493541301665&text=Hola%20buen%20día! Te%20hablo%20desde%20la%20web.">
        <img src="/assets/logo-whatsapp.png" class="whatsapp-responsive" height="80px">
    </a>
</div>
<!-- ---------------------- -->
<app-start></app-start>
<app-aboutus></app-aboutus>
<app-service></app-service>
<app-contact></app-contact>
<app-footer></app-footer>

