.content {
  padding: 120px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
mat-form-field{
  width: 40%;
}
.mat-card{
  min-height: 370px;
  height: auto;
  margin: 4px;
  
}
.mat-card-content {
  height: auto;
  min-height: 370px;
}
ul {
  padding-top: 20px;
}
table {
  margin-top: 50px;
  // overflow-x: auto;
  // overflow: scroll;
}
.div-table {
  overflow-x:auto;
}
.mat-form-field[_ngcontent-c5] {
  width: 100%;
}