.content {
  padding: 120px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
mat-form-field{
  width: 40%;
}
.mat-card{
  min-height: 370px;
  height: auto;
  margin: 4px;
  
}
.mat-card-content {
  height: auto;
  min-height: 370px;
}
ul {
  padding-top: 20px;
}
table {
  margin-top: 50px;
  // overflow-x: auto;
  // overflow: scroll;
}
.div-table {
  overflow-x:auto;
}
.mat-form-field[_ngcontent-c5] {
  width: 100%;
}
// Responsive Layout
@media only screen and (max-width: 600px) {
  .content[_ngcontent-c5] {
    padding: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .mat-card-content {
    height: auto;
    min-height: auto;
  }
  .mat-card {
    margin: 0px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .title-responsive {
    padding-top: 45px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  button#toggle-linear{
    display: none;
  }
}