.content {
  padding: 20px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
mat-form-field{
  width: 40%;
}
mat-card {
  margin: 4px;
}
.mat-card-content {
  min-height: 340px;
  padding-top: 5px;
}
ul {
  padding-top: 20px;
}
table {
  margin-top: 50px;
}
.div-table {
  overflow-x:auto;
}
.mat-form-field[_ngcontent-c5] {
  width: 100%;
}
// Responsive Layout
@media only screen and (max-width: 600px) {
  .content[_ngcontent-c5] {
    padding: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .mat-card-content {
    height: auto;
    min-height: auto;
  }
  .mat-card {
    margin: 0px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .title-responsive {
    padding-top: 45px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  button#toggle-linear{
    display: none;
  }
}

//ocultar mensaje en 5 segundos


.tracking-out-expand {
	-webkit-animation: tracking-out-expand 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tracking-out-expand 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

