<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span fxHide.sm fxHide.xs>Ikegraf</span>
    <span class="spacer"></span>
    <div *ngFor="let m of menu" fxHide.sm fxHide.xs>
      <button mat-button (click)="triggerScrollTo(m)" >{{m}}</button>
    </div>
      <!--responsive-->
      <div *ngFor="let m of menu" fxHide fxShow.xs class="button-responsive">
        <button mat-button  (click)="triggerScrollTo(m)">{{m}}</button>
      </div>
      <!-------------->
    
    <span class="spacer"></span>
    <mat-icon class="space-icon" fxHide.sm fxHide.xs>favorite</mat-icon>
    <mat-icon class="space-icon" fxHide.sm fxHide.xs>edit</mat-icon>
    <mat-icon class="space-icon" fxHide.sm fxHide.xs>delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>