<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>Ikegraf</span>
    <span class="spacer"></span>
    <div *ngFor="let m of menu">
      <button mat-button>{{m}}</button>
    </div>
    <span class="spacer"></span>
    <mat-icon class="space-icon">favorite</mat-icon>
    <mat-icon class="space-icon">edit</mat-icon>
    <mat-icon class="space-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<!--mat-toolbar responsive-->
<!-- <mat-toolbar color="primary" fxHide fxShow.xs>
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
      <span class="spacer"></span>
      <mat-icon class="space-icon">favorite</mat-icon>
      <mat-icon class="space-icon">edit</mat-icon>
      <mat-icon class="space-icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar> -->
<!-- -------------------- -->